.adminForm {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.form-div {
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  /* display: flex; */
  justify-content: center;
  /* width: 60%; */
  border: 2px solid black;
  background-color: grey;
}

.each-labe-input {
  margin: 1rem;
}
.admin-form-outer-div {
  background-color: rgb(64, 54, 54);
  min-height: 83vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.abc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.select-admin-search-form {
  width: 10vw;
  /* height:4rem; */
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  justify-content: center;
}

/* single-input-div{
    display: flex;
align-items: start;
} */

.input-div {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
/* input{
    height: 4vh;
} */

.admin-search-form {
  margin-top: 1rem;
  width: 20vw;
  height: 4rem;
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.admin-search-form-3{
  margin-top: 1rem;
  width: 42vw;
  /* min-height: 10rem; */
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.admin-search-form-3 textarea{
  width: 100%;
  min-height: 11vh;

}

.admin-search-form-2 {
  margin-top: 1rem;
  width: 13vw;
  height: 4rem;
  border: var(--border);
  overflow: hidden;
  background: #ffffff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
}

.admin-search-form-2 input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.admin-search-form input {
  font-size: 1.6rem;
  padding: 0 1.2rem;
  height: 100%;
  width: 100%;
  text-transform: none;
  color: var(--black);
}

.each-labe-input label {
  display: flex;
  /* color:var(--black); */
  cursor: pointer;
  justify-content: space-between;
  width: 96%;
}
