.game-page-list {
  margin-top: 2rem;
  padding: 0 2rem 3rem 2rem;
}

.game-page-listTitle {
  font-size: 1.75rem;
  margin: 2.5rem;
}

.game-page-listCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.game-page-card {
  display: inline-block;
  transition: transform 0.2s;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin: 0.19rem;
  cursor: pointer;
  min-width: 200px;
  height: 300px;
  z-index: 0;
  border: 1px solid rgb(99, 99, 99);
}

.game-page-card:hover {
  transform: scale(1.2);
  z-index: 1000;
}

.game-page-cards-img {
  height: 300px;
  margin-right: 20px;
  margin-left: 1px;
  width: 100%;
}

.box {
  height: 50px;
  width: 89%;
  display: flex;
  cursor: pointer;
  padding: 10px 20px;

  background: #fff;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 0px 7px black;
}

/* .box:hover input{
    width: 200px;
  } */

.box input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1.5rem;
  transition: 0.8s;
  background: transparent;
}

.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
  margin-top: 0rem;
}

.box a .fas {
  color: aqua;
  font-size: 18px;
}
.game-page-card-overlay {
  position: absolute;
  padding: 0 1rem 1rem 1rem;
  bottom: 0px;
  height: 260px;
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  width: 100%;
  justify-content: flex-end;
  background-image: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 1));
  opacity: 0;
  transition: opacity 0.2s;
}

.game-page-card-overlay:hover {
  opacity: 1;
}

.delete-edit {
  /* background-color: rgb(0, 0, 0); */
  opacity: 0.8;
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  top: 0;
}
.delete-edit div {
  background-color: black;
  width: 50%;
  opacity: 0.7;
  text-align: center;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border: 1px solid white;
}

.delete-edit div:hover {
  background-color: black;
  opacity: 1;
}

.game-page-card-title {
  font-weight: 900;
  font-size: 1.75rem;
  margin-bottom: 0.4rem;
}

.game-page-card-runtime {
  font-size: 1.5rem;
  margin-bottom: 0.25rem;
}

.game-page-card-rating {
  float: right;
}

.game-page-card-desc {
  font-style: italic;
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

@media (max-width: 1200px) {
  .game-page-card:hover {
    transform: scale(1);
  }
}

/*for carousel*/


body {
  font-size: 1.6rem;
  background: var(--bg);
}

.container-carousel {
  margin-top: 0rem;
  max-width: 184rem;
  padding: 0rem 0.5rem;
  background-color: white;
}




.swiper_container {
  height: 48rem;
  padding: 2rem 0rem 0rem 0rem;
  position: relative;
  z-index: 0;
}

.swiper-slide {
  width: 71rem;
  height: 40rem;
  position: relative;}

@media (max-width: 665px) {
  .swiper_container {
    height: 47rem;
  }
  .swiper-slide {
    width: 28rem !important;
    height: 36rem !important;
  }
  .swiper-slide img {
    width: 28rem !important;
    height: 36rem !important;
  }

}


.swiper-slide img {
  width: 71rem;
    height: 40rem;
    border-radius: 2rem;
    object-fit: cover;
}

.swiper-slide-shadow-left,
.swiper-slide-shadow-right {
  display: none;
}

.slider-controler {
  position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-controler .swiper-button-next {
  left: 58% !important;
  transform: translateX(-58%) !important;
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-next {
    left: 70% !important;
    transform: translateX(-70%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-next {
    left: 80% !important;
    transform: translateX(-80%) !important;
  }
}

@media (max-width: 990px) {
  .slider-controler .swiper-button-prev {
    left: 30% !important;
    transform: translateX(-30%) !important;
  }
}

@media (max-width: 450px) {
  .slider-controler .swiper-button-prev {
    left: 20% !important;
    transform: translateX(-20%) !important;
  }
}

.slider-controler .slider-arrow {
  background: var(--marigold);
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50%;
  left: 42%;
  transform: translateX(-42%);
  filter: drop-shadow(0px 8px 24px rgba(18, 28, 53, 0.1));
}

.slider-controler .slider-arrow ion-icon {
  font-size: 2rem;
  color: #222224;
}

.slider-controler .slider-arrow::after {
  content: '';
}

.swiper-pagination {
  display: flex;
  justify-content: center;
  color: #222224;
}

.swiper-pagination .swiper-pagination-bullet {
  filter: drop-shadow(0px 8px 24px rgb(39, 98, 248));
}

.swiper-pagination .swiper-pagination-bullet-active {
  background: var(--marigold);
}



/* @media (max-width:700px){
  .Carousel{
    display: inline;
  }
  .swiper_container{
    display: none;
  }
} */