.about{
    width: 100%;
    height: 100%;
    background-color: #232c47;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .content img{
    height: auto;
    width:450px;
    max-width: 100%;
}

.text{
    width: 617px;
    max-width: 100%;
    padding: 0 20px;
    margin-bottom: 2rem;
}

.content{
    width: 1280px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.text h1{
    color: var(--marigold);
    font-size: 40px;
    /* margin-bottom: 20px; */
    text-transform: capitalize;

}

.text h5{
    color: #fff;
    font-size: 25px;
    margin-bottom: 25px;
    /* text-transform: capitalize; */
    letter-spacing: 2px;
    /* display: flex; */
}

.text p{
    color: #c0c4d6;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 45px;
}

.text h3{
    font-size: 40px;
    display: flex;
    color: #fff;
    margin-bottom: 1rem;
}


.text button{
background-color: var(--marigold);
color: black;
border: 2px solid transparent;
text-decoration: none;
padding: 10px 30px;
border-radius: 30px;
font-size: 17px;
font-weight: bold;
}

.text button:hover{
    transform: scale(1.2);
    background-color: transparent;
    border: 2px solid var(--marigold);
    color: var(--marigold);
    transition: .4s;
    cursor: pointer;
}

@media screen and (max-width:1180px){
    .about{
        width: 100%;
        height: auto;
        padding: 0px 0px;

    }
}

@media screen and (max-width:650px) {
    .about .content img{
        margin-bottom: 35px
    }
    .text h1{
        /* font-size:60px ; */
        margin-bottom: 25px;
    }
}
